.header {
  position: sticky;
  display: flex;
  background-color: rgb(22, 214, 150);
  height: 72px;
  top: 0;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
}
.header .nav-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 90%;
}
.header .nav-wrapper .nav {
  position: absolute;
  display: flex;
  color: white;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}
.header .nav-wrapper .nav .logo {
  text-decoration: none;
  color: white !important;
  display: flex;
  text-align: end;
}
.header .nav-wrapper .nav .logo p {
  margin-top: 18px;
}
.header .nav-wrapper .links {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .category {
  display: flex;
  align-items: center;
  list-style: none;
  padding: auto;
  height: 100%;
}
.header .category a {
  text-align: end;
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
}
.header .category a::before {
  content: "";
  position: absolute;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0 0 0.2em 0;
  height: 1em;
  margin-top: 1em;
  margin-left: 0.5em;
  width: 5.5em;
  transform: scaleX(0);
}
.header .category a:hover::before {
  content: "";
  position: absolute;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0 0 0.2em 0;
  height: 1em;
  margin-top: 1em;
  margin-left: 0.5em;
  width: 5.5em;
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}
.header .category li {
  margin: 20px;
}
.header .userInfo {
  display: flex;
  align-items: center;
}
.header .userInfo .user-img,
.header .userInfo .user-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.header .nav-btn {
  display: none;
}
.header .signedIn-btn {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 16px;
  color: white;
  margin-right: 10px;
  background-color: rgb(7, 196, 133);
}
.header .signedIn-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.3s;
}

@media screen and (max-width: 700px) {
  .links {
    position: absolute;
    opacity: 0;
    display: inline-block !important;
    left: -6%;
    z-index: -2;
    justify-content: center;
    height: 105px !important;
    background-color: rgb(71, 179, 146);
  }
  .linksOpen {
    position: absolute;
    opacity: 1;
    transform: translate3d(0, 87px, 0);
    display: inline-block !important;
    left: -6%;
    justify-content: center;
    height: 105px !important;
    background-color: rgb(71, 179, 146);
    transition: all 0.5s ease-in-out;
    width: -moz-max-content;
    width: max-content;
  }
  .category {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .category li {
    margin: 5px !important;
  }
  .nav-btn {
    align-items: center;
    display: flex !important;
    justify-content: center;
    position: absolute;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    right: -10%;
    border-radius: 50%;
    font-size: 18px;
    color: black;
  }
}/*# sourceMappingURL=Header.css.map */